.shopprofile{
	border: solid 1px;
	border-color: black;
	background-image: "url: images/profile.jpg";
	float: right;
}

#map{
	height:200px;
}

.material-symbols-outlined{
	color: gold;
}

.middle{
	text-align: center;
	font-size: bold;
	font-weight: 600;
	align-content: center;
	font-family: "Times New Roman"
}

.profilePic{
	float: left;
	margin-top:10px;
	height:200px;
	width: 200px;

}

.editicon{
}